<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.PostMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.entity.Post">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="icon" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="title" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="phone" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="phoneType" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="studentnumber" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="clickNumber" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, icon, title, phone, phoneType, time, studentnumber, clickNumber
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from post
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from post
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.entity.Post">
    insert into post (id, icon, title, 
      phone, phoneType, time, 
      studentnumber, clickNumber)
    values (#{id,jdbcType=INTEGER}, #{icon,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{phonetype,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP}, 
      #{studentnumber,jdbcType=INTEGER}, #{clicknumber,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.entity.Post">
    insert into post
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="phonetype != null">
        phoneType,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="studentnumber != null">
        studentnumber,
      </if>
      <if test="clicknumber != null">
        clickNumber,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="phonetype != null">
        #{phonetype,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="studentnumber != null">
        #{studentnumber,jdbcType=INTEGER},
      </if>
      <if test="clicknumber != null">
        #{clicknumber,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.entity.Post">
    update post
    <set>
      <if test="icon != null">
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="phonetype != null">
        phoneType = #{phonetype,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="studentnumber != null">
        studentnumber = #{studentnumber,jdbcType=INTEGER},
      </if>
      <if test="clicknumber != null">
        clickNumber = #{clicknumber,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.entity.Post">
    update post
    set icon = #{icon,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      phoneType = #{phonetype,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP},
      studentnumber = #{studentnumber,jdbcType=INTEGER},
      clickNumber = #{clicknumber,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>